<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Redirect requests without a trailing slash to include it
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*[^/])$ /$1/ [L,R=301]

  # Rewrite URLs
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^([^/]+)/([^/]+)/([^/]+)$ index.php?controller=$1&action=$2&id=$3 [QSA,L]
</IfModule>