* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    transition: all 0.4s ease-in-out;
    min-height: 100vh;
}

/* Navbar */

#neubar {
    background: #7890cd;
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.4)
}

#neubar .dropdown-menu a:hover {
    color: black;
}

#neubar .nav-item {
    margin: auto 4px;
}

#neubar a {

    padding-left: 12px;
    padding-right: 12px;
}

#neubar .dropdown-menu {
    background: #7890cd;
}

#txt:hover{
    color: black;
}

/* Search by ingredient */

#ingredientsResults li, #ingredientsSelected li {
    cursor: pointer;
}

#ingredientsResults li:hover {
    color: #00ff00;
}

#ingredientsSelected li:hover {
    color: #ff0000;
}